@page
@model EditModel
@{
}


<h1>Edit Boat</h1>

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Boat.Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Boat.Id" class="form-control" readonly="readonly" />
            <span asp-validation-for="Boat.Id" class="text-danger"></span>
        </div>
    </div>

        <div class="form-group">
        <label asp-for="Boat.Type" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Boat.Type" class="form-control" />
            <span asp-validation-for="Boat.Type" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Boat.Detail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Boat.Detail" class="form-control" />
            <span asp-validation-for="Boat.Detail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="./Index" class="btn btn-default">Back</a>
        </div>
    </div>  
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}