<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="katewalee.ChaoprayaBoat">
	<uses-sdk android:minSdkVersion="22" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="เรือด่วนเจ้าพระยา">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAIBf9ftcng2FURH6eqrX4tHnlOOqwFBz0" />
        <!--<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCLcxvK8PlMCQE4Lix6RkKnS8isM7f3Te0" />-->
	</application>
</manifest>